body {
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	flex-direction: column;
	animation: cool-backgrounds 2s;
	color: white;
	font-size: 20px;
	height: 100vh;
}

button {
	background: black;
	color: yellow;
	border: 5px double white;
}

.hidden {
	display: none;
}

#input {
	color: blue;
	animation: input-change 5s;
	background-color: aqua;
	font-size: 150%;
	font-family: cursive, fantasy, sans-serif;
	text-align: center;
	height: 50px;
	width: 425px;
}

@keyframes cool-backgrounds {
	0% {
		filter: blur(40px);
	}
	100%{
		filter: blur(0px);
	}
}

@keyframes input-change {
	0%{
		background: red;
	}
	25%{
		background: black;
	}
	50%{
		background: yellow;
	}
	75%{
		background: blue;
		transform: rotate(0deg);
	}
	100%{
		background: aqua;
		transform: rotate(360deg);
	}
}

